body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #343a40;
  text-align: center;
  min-height: 100vh;
}


main {
  max-width: 1200px;
  margin: 0 auto;
}

form {
  width: 100%; 
  margin: 0 auto !important;
}

li {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

li b {
  width: 100%;
}

img {
  width: 200px;
  height: 300px;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }

.book {
  background: whitesmoke;
  width: 330px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  justify-self: center;
}

@media(max-width: 1080px){
 .book {
    justify-self: center;
  }


  .books {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 740px){
  .books {
    grid-template-columns: 1fr;
  }

  .book {
    align-self: center;
    justify-self: center;
  }
}

.loading {
  color: #fff;
  font-size: 1rem;
}